body {
    background-color: #131313 !important;
}

.bgNav {
    background-color: #242323;
}

.Logo-Yutu {
    color: red;
}

.Letra-Logo-Yutu {
    color: white;
    font-weight: bold;
    margin-right: 230px;
}

.search {
    width:  500px;
    margin-right: 10px;
    background-color: #211E1E;
    margin-top: 4.2px;
}

.searchIcon {
    color: #2A2626;
    margin-top: 10px;
}

.uploadIcon {
    margin-left: 200px;
    color: white;
    margin-top: 10px;
}

.gripIcon {
    margin-left: 30px;
    color: white;
    margin-top: 6px;
}

.bellIcon {
    margin-left: 30px;
    color: white;
    margin-top: 6px;
}

.accountIcon {
    margin-left: 30px;
    color: white;
    margin-top: 2px;
    font-size: 24px;
}

.sizeIcon {
    font-size: 20px;
}

.yutuVideo {
    margin: 30px 50px;
}

p{
    color: white;
}

ul li {
    list-style: none;
}

.videoRep {
    margin-left: -45px;
    margin-bottom: 10px;
}

.textoSecundarioVideo {
    color: grey;
    margin-top: -15px;
}

.hr {
    border: 0.5px solid gray;
    margin-left: -50px;
    margin-top: -0.7px;
}

.aContinuacion {
    margin-left: -50px;
    color: white;
}

.repAutotamica {
    color: #878787;
    margin-left: 20px;
}

.imgAccount {
    border-radius: 100%;
    width: 5%;
}

.imgVideo {
    border-radius: 100%;
    width: 7%;
}

.colorLetter {
    color: #a8a8a8;
}

.comentariosv2{
    color: white ;
    margin-left: -220px;
    font-size: 14px;
    margin-top: 10px;
}
.comentariosv3{
    color: gray;
    margin-left: -220px;
    font-size: 16px;
    margin-top: -20px;
}
